<div class="container top-30">
  <div class="row">
    <div class="col-md-3">
      
      <div class="form-group">
        <label for="termino">Buscar artista</label>
        <input 
          type="text" 
          class="form-control" 
          name="termino" 
          id="termino"  
          placeholder="Buscar..." 
          (keyup)="buscarArtista()"
          [(ngModel)]="termino">
      </div>
    </div>
    <div class="col-md-9" *ngIf="termino.length>1">
      <h1 class="text-capitalize">{{termino}}</h1>
      <hr>
      <!--*ngFor="let item of _spotify.artistas"-->
      <div class="row">
        <div class="col-md-3 text-center puntero" *ngFor="let item of _spotify.artistas" [routerLink]="['/artist', item.id]">
          <img [src]="item.images | sinfoto" class="img-thumbnail">
          <p>{{item.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>